{% extends "base.html" %}

{% block title %}Anxietify | Mood Cycles{% endblock %}

{% block extra_head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css" />
{% endblock %}

{% block body %}
<div class="main-carousel">
  {% for period in periods %}
  <div class="box carousel-cell interval-page has-background-black">
    <div class="interval-title">
      <div class="title is-2">Period #{{ period.number }}</div>
    </div>

    <div class="box-demo">
      <canvas id="{{ period.canvas_id }}" width="1440" height="700"></canvas>
    </div>

    <div class="interval-display">
      <div class="columns is-flex is-justify-content-space-between is-mobile">
        <div class="column is-one-quarter">
          <div class="container date-container">
            <p class="title date start_date">{{ period.start_date }}</p>
          </div>
          <iframe
            style="border-radius:12px"
            src="https://open.spotify.com/embed/track/{{ period.song_start_uri }}?utm_source=generator"
            width="100%"
            height="100%"
            frameborder="0"
            allowfullscreen
            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
            loading="lazy"
          ></iframe>
        </div>

        <div class="column is-one-quarter">
          <div class="container date-container">
            <p class="title date end_date">{{ period.end_date }}</p>
          </div>
          <iframe
            style="border-radius:12px"
            src="https://open.spotify.com/embed/track/{{ period.song_end_uri }}?utm_source=generator"
            width="100%"
            height="100%"
            frameborder="0"
            allowfullscreen
            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
            loading="lazy"
          ></iframe>
        </div>
      </div>

      <div class="columns is-flex is-justify-content-center is-mobile">
        <div class="column is-one-quarter">
          <div class="container date-container">
            <p class="title date min_date">{{ period.min_date }}</p>
          </div>
          <iframe
            style="border-radius:12px"
            src="https://open.spotify.com/embed/track/{{ period.song_min_uri }}?utm_source=generator"
            width="100%"
            height="100%"
            frameborder="0"
            allowfullscreen
            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
            loading="lazy"
          ></iframe>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}

{% block extra_scripts %}
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<script src="{{ url_for('static', filename='js/mood-charts.js') }}"></script>
<script>
  new Flickity('.main-carousel', {
    cellAlign: 'left',
    contain: true,
    selectedAttraction: 0.01,
    friction: 0.15,
    draggable: false
  });

  {% for period in periods %}
  window.renderMoodChart({
    canvasId: "{{ period.canvas_id }}",
    labels: {{ period.labels | tojson }},
    values: {{ period.values | tojson }}
  });
  {% endfor %}
</script>
{% endblock %}
